# functions
- printing **print()** & **f ' {} '**
- calling out **df['col'][:]**
- adding a character **append()**
- if function **if, elif and else**
- **for in** and **if in** and **break**
- lambda
- **from statistics import mean, median, mode**
- **import random**

Lets create a student data in python

In [54]:
name = "alice"
age = 18
gpa = 3.78
plays_volleyball = True

print(name, age, gpa,plays_volleyball)

alice 18 3.78 True

In [55]:
gpa = 2.1

print(name, age, gpa,plays_volleyball)

alice 18 2.1 True

let's try this

In [56]:
print(f"the students name is {name}")

the students name is alice

alices age in 15 years

In [57]:
age = age+15
print(f"alice will be {age} in 15 years")

alice will be 33 in 15 years

In [58]:
sports=["volley ball","netball","touch rugby","cross country"]
sports[0:]

['volley ball', 'netball', 'touch rugby', 'cross country']

In [59]:
sports.append("cricket")
print(sports)

['volley ball', 'netball', 'touch rugby', 'cross country', 'cricket']

In [60]:
print(f"alice playes {sports[2:]}")

alice playes ['touch rugby', 'cross country', 'cricket']

### calculating letter grade

- 2 or under D
- 3 or under c
- 3,8 or under B
- Above 3.8 A

In [17]:
gpan = float(input("what is your GPA? "))

if gpan <= 2:
    letter="D"
elif gpan <= 3:
    letter="C"
elif gpan <= 3.8:
    letter="B"
else:
    print("A")

print(F"alice score a {letter}")

alice score a C

In [ ]:
role = 'data analyst'
skill = 'python'

In [ ]:
f'Role: {role}'

'Role: data analyst'

In [ ]:
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]

In [ ]:
for job in job_roles:
    qualified = True

    for skill in my_skills:
        if skill not in job['skills']:
            qualified = False
            break
    if qualified:    
        print(job)

{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']}
{'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']}

In [ ]:
for job in job_roles: 
    if all(skill in job['skills'] for skill in my_skills):
        print(job)

{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']}
{'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']}

In [4]:
calc_salary = lambda base_salary, bonus_rate: base_salary * (1 + bonus_rate)

In [5]:
calc_salary(20000, 0.5)

30000.0

In [ ]:
salary_list = [45, 67, 35, 84, 95]

from statistics import mean, median, mode

statistics.mean(salary_list)

65.2

In [ ]:
statistics.mode(salary_list)

45

In [12]:
import random

salary_list = [random.randint(50000, 100000) for _ in range(1_000_000)]
salary_list
pass

In [13]:
import statistics

In [14]:
%%timeit
statistics.mean(salary_list)

411 ms ± 22.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
import pandas as dp

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
  File "C:\Users\Ian\AppData\Local\Temp\ipykernel_9612\2912263573.py", line 1, in <module>
    import pandas as dp
ModuleNotFoundError: No module named 'pandas'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\pygments\styles\__init__.py", line 45, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 2168, in showtraceback
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1457, in structured_traceback
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1348, in structured_traceback
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1195, in structured_traceback
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1085, in format_exception_as_a_whole
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1136, in get_records
  File "c:\Users\Ian\Desktop\learning python\.venv\Lib\site-packages\pygments\styles\__init__.py", line 47, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'pygments.styles.default', though it should be builtin.